[submodule "assets/bundled_syntaxes/01_Packages"]
	path = assets/bundled_syntaxes/01_Packages
	url = git@github.com:sublimehq/Packages.git
[submodule "assets/bundled_syntaxes/02_Extra/Kotlin"]
	path = assets/bundled_syntaxes/02_Extra/Kotlin
	url = git@github.com:guille/sublime-kotlin.git
[submodule "assets/bundled_syntaxes/02_Extra/Dart"]
	path = assets/bundled_syntaxes/02_Extra/Dart
	url = git@github.com:guille/sublime-dart.git
[submodule "assets/bundled_syntaxes/02_Extra/Containerfile"]
	path = assets/bundled_syntaxes/02_Extra/Containerfile
	url = git@github.com:keith-hall/Containerfile-sublime-syntax.git
[submodule "assets/bundled_syntaxes/02_Extra/Elixir"]
	path = assets/bundled_syntaxes/02_Extra/Elixir
	url = git@github.com:guille/elixir-sublime-syntax.git
[submodule "assets/bundled_syntaxes/02_Extra/Gomod"]
	path = assets/bundled_syntaxes/02_Extra/Gomod
	url = git@github.com:mitranim/sublime-gomod.git
[submodule "assets/bundled_syntaxes/02_Extra/GraphQL"]
	path = assets/bundled_syntaxes/02_Extra/GraphQL
	url = git@github.com:dncrews/GraphQL-SublimeText3.git
[submodule "assets/bundled_syntaxes/02_Extra/Jsonnet"]
	path = assets/bundled_syntaxes/02_Extra/Jsonnet
	url = git@github.com:gburiola/sublime-jsonnet-syntax.git
[submodule "assets/bundled_syntaxes/02_Extra/Protobuf"]
	path = assets/bundled_syntaxes/02_Extra/Protobuf
	url = git@github.com:VcamX/protobuf-syntax-highlighting.git
[submodule "assets/bundled_syntaxes/02_Extra/Svelte"]
	path = assets/bundled_syntaxes/02_Extra/Svelte
	url = git@github.com:guille/sublime-svelte.git
[submodule "assets/bundled_syntaxes/02_Extra/Terraform"]
	path = assets/bundled_syntaxes/02_Extra/Terraform
	url = git@github.com:SublimeText/Terraform.git
[submodule "assets/bundled_syntaxes/02_Extra/Typst"]
	path = assets/bundled_syntaxes/02_Extra/Typst
	url = git@github.com:hyrious/typst-syntax-highlight.git
